.muestras {

    width: 100%;
    display: flex;
.muestras img {
    width: 200px;
    justify-content: space-around;
.nombres {
    background-color: antiquewhite;
    display: flex;
    width: 100%;
}
}}